@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --inline-block-padding: clamp(80px, 10.98vw, 150px);
    --color-black-block: #141414;


    --color-altarnative: #FB6535;
    --color-white: #fff;
    --font-family-base: 'Poppins';

    --input-padding: 13px 50px 13px 27px;
    --time-animation: .3s;
}

body {
    font-size: 16px;
    font-family: var(--font-family-base);
}

.container {
    max-width: 1066px;
    margin: 0 auto;
}

/* HEADER */
.page-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-black-block);
    padding-block: 20px;
    padding-inline: var(--inline-block-padding);
}

.navigation-user-list {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    align-items: center;
}

.navigation-user-item {
    display: flex;
    gap: 10px;
}

.navigation-user-btn {
    padding: 7px 41px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    color: var(--color-altarnative);
    font-weight: 600;
    line-height: 17px;
}

.navigation-user-btn::before {
    content: "";
    position: absolute;
    background-image: url('./icons/header-nav-user-btn-language.svg');
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 17px;
    height: 16px;
}

.navigation-user-btn::after {
    content: "";
    position: absolute;
    background-image: url('./icons/header-select-icon-nav-user.svg');
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 14px;
    height: 8px;
}

.navigation-user-link {
    color: var(--color-white);
    text-decoration: none;
}

.navigation-user-link:hover {
    color: #ffffffb5;
    transition: var(--time-animation);
}
.navigation-user-link:active {
    opacity: 0.6;
}

.navigation-user-btn:hover {
    opacity: 0.7;
    transition: var(--time-animation);
}

.navigation-user-btn:active {
    opacity: 0.5;
}


/* HERO */

.hero {
    background-image: url('./images/hero-background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: var(--inline-block-padding);
    position: relative;
    padding-bottom: 114px;
}

.hero-blocks-wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    column-gap: 30px;
}

.navigation-link-item {
    display: inline-block;
    text-decoration: none;
    color: rgba(20, 20, 20, 0.70);
    font-size: 18px;
    font-weight: 600;
}

.navigation-link-item:hover {
    opacity: 0.8;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: var(--time-animation);
    text-decoration: underline;
}

.add-color-link {
    color: var(--color-altarnative);
}

.info-hero-wrapper {
    max-width: 432px;
}

.info-hero-wrapper h2 {
    color: var(--color-altarnative);
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 31px;
}

.info-hero-wrapper h3 {
    font-size: 31px;
    font-weight: 300;
    line-height: normal;
}

.navigation-hero-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.subtitle-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-hero {
    display: inline-block;
    background-color: var(--color-altarnative);
    padding: 16px 61px;
    border-radius: 50px;
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    transition: var(--time-animation);
}

.button-hero:hover {
    opacity: .9;
    transition: var(--time-animation);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #000;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.img-hero-block-wrapper img {
    position: absolute;
    bottom: 0;
    left: 100px;
    width: min(45.82vw, 626px);
    height: min(30.30vw, 414px);
}

.hero__logo-link,
.hero__logo-link--hero {
    display: inline-block;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.hero__logo-link--hero:hover {
    transform: scale(1.2);
    transition: .8s ease-in-out;
    transform: rotate(360deg);
}

.hero__logo-link:hover {
    transform: scale(1.1);
    transition: var(--time-animation);
}

/* ABOUT-US */

.about-us {
    background-color: var(--color-altarnative);
    color: var(--color-white);
    padding-bottom: 50px;
}

.about-us-wrapper h2 {
    font-size: 31px;
    font-weight: 300;
    line-height: normal;
}

.about-us-wrapper h2 span {
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1066px;
    margin-inline: auto;
    gap: 50px;
    background-image: url('./images/about-us-background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 543px 70px 90px;
    margin-top: -66px;
    z-index: 1;
    position: relative;
    border-radius: 20px;
}

.about-us-wrapper::after {
    content: "";
    position: absolute;
    background-image: url('./icons/decoration-background-us-block.svg');
    background-repeat: no-repeat;
    width: 340px;
    height: 50px;
    right: 0;
    top: 82px;
}

.subtitle-about-us {
    max-width: 432px;
}

.about-us::after {
    content: "";
    position: absolute;
    background-image: url('./icons/about-us-decoration-icon-bottom.svg');
    background-repeat: no-repeat;
    width: 53px;
    height: 28px;
    top: -2;

}

.our-services {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: 885px;
    gap: 50px;
    margin-top: 70px;
    
}

.our-services::after {
    content: "";
    position: absolute;
    background-image: url('./images/our-services-decorstion-background.svg');
    background-repeat: no-repeat;
    width: 500px;
    height: 50px;
    right: 0px;
}

.our-services h3 {
    font-size: 31px;
    font-weight: 300;
    line-height: normal;
}

.our-services h3 span {
    font-weight: 700;
    text-transform: uppercase;
}

.our-services-list {
    display: grid;
    grid-template-columns: repeat(3, 252px);
    list-style-type: none;
    column-gap: 65px;
}

.our-services-inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services-first::before {
    content: "";
    display: block;
    background-image: url('./icons/ship-about-us-services.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;

}

.title-services {
    font-size: 25px;
    font-weight: 700;
}

.services-second::before {
    content: "";
    display: block;
    background-image: url('./icons/about-us-recycling-services.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
}

.services-third::before {
    content: "";
    display: block;
    background-image: url('./icons/about-us-services-money-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
}

/* USER-UNFO */

.user-info {
    background-image: url('./images/user-info-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 60px;
}

.user-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
}

.user-info-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-field {
    padding: var(--input-padding);
    border-radius: 10px;
    border: none;
    background-color: rgba(20, 20, 20, 0.90);
    color: rgba(255, 255, 255, 0.60);
}

.add-input-field {
    height: 225px;
}

.input-field:focus {
    outline: #FB6535;
    box-shadow: 0px 0px 10px 3px #FB6535;
}

.add-icon {
    position: relative;
}

.add-icon::after {
    content: "";
    position: absolute;
    background-image: url("./icons/icon-input-about-us-after.svg");
    background-repeat: no-repeat;
    width: 14px;
    height: 8px;
    bottom: 0;
    right: 0;
}

.button-user-info {
    background-color: var(--color-altarnative);
    border-radius: 10px;
    border: none;
    padding-block: 15px;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    transition:  0.3s ease;
    letter-spacing: 1px;
}

.button-user-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.92);
    transition: left 1s ease;
    z-index: -100;
}

.button-user-info:hover::before {
    left: 0;
}

.button-user-info:hover,
.button-user-info:focus {
    opacity: 0.9;
    color: var(--color-white);
    z-index: 100; 
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
    letter-spacing: .2rem;
    
}

.user-info-map-wrapper img {
    display: block;
}

.title-user-info {
    font-size: 31px;
    font-weight: 300;
}

.user-info-map-wrapper {
    position: relative;
    border-radius: 25px;
    box-shadow: 1px 4px 23px -5px;
}

.title-user-info span {
    color: var(--color-altarnative);
    text-transform: uppercase;
    font-weight: 700;
}


.block-info-map-list {
    list-style-type: none;
}

.block-info-map-link {
    color: var(--color-white);
    text-decoration: none;
    transform: var(--time-animation);
}

.block-info-map-link:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
    transform: var(--time-animation);
}

.block-map-info {
    background-color: var(--color-altarnative);
    max-width: 296px;
    padding: 40px 54px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 113px;
}

.block-map-info::after {
    content: "";
    position: absolute;
    background-image: url("./icons/about-us-decoration-icon-bottom.svg");
    background-repeat: no-repeat;
    bottom: -28px;
    width: 53px;
    height: 28px;
    right: 121px;
}

.block-map-info::before {
    content: "";
    position: absolute;
    background-image: url("./icons/vector-navigation-icon-about-us-block.svg");
    background-repeat: no-repeat;
    bottom: -3px;
    width: 12px;
    height: 20px;
    z-index: 10;
    right: 141px;
}

/* FOOTER */

.page-footer {
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
    padding-block: 30px 35px;
    align-items: flex-end;
}

.footer-navigation-user {
    list-style-type: none;
    display: flex;
    gap: 26px;
}
.footer-navigation-user-link-item {
    display: inline-block;
    transition: 0.7s ease-in-out;
}

.footer-navigation-user-link-item:hover {
    transform: scale(1.2);
    transition: var(--time-animation);
}

.footer-navigation-user-link-item:hover svg path {
    fill: black;
    transition: .8s ease;
}
  


/* ADAPTIVE */

@media (max-width: 1025px) {
    .page-header {
        flex-wrap: wrap;
    }

    .navigation-user-btn {
        order: -1;
    }

}

@media (max-width: 900px) {
    
    .page-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .navigation-user-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

}